<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            font-weight: 700;
            font-size: 6rem;
            width: 100%;
            text-align: center;
            margin-top: 20%;
        }
    </style>
    <script>
        // 10초 후 다른 페이지로 리디렉션
        setTimeout(function() {
            window.location.href = '/main';
        }, 10000); // 10000 밀리초 = 10초
    </script>
</head>
<body>
    <h1>404 Not Found</h1>
    
</body>
</html>